body{
    margin: 0 auto;
    background-color: aqua;
    text-align: center;
}

.logo{
    width: 15%;
    float: left;
}
#bouton_connexion{
    float: right;

}

#bouton_connexion input{
    height: 75px;
    width: 190px;

}
#menu_index{
    display: grid;
    text-align: center;
}
#addition input{

    transition-duration: 0.5s;

}
#addition input:hover{
    
    background-color: #fa9c0b;
}
#soustraction input{

    transition-duration: 0.5s;
}
#soustraction input:hover{
    
    background-color: #fa9c0b;
}
#multiplication input{

    transition-duration: 0.5s;
}
#multiplication input:hover{
    
    background-color: #fa9c0b;
}
#division input{

    transition-duration: 0.5s;
}
#division input:hover{
    
    background-color: #fa9c0b;
}
#division{
    grid-row: 1;
    grid-column: 4;
}
#multiplications{
    grid-row: 1;
    grid-column: 3;
}
#soustraction{
    grid-row: 1;
    grid-column: 2;
}
#addition{
    grid-row: 1;
    grid-column: 1;
}


#form_connexion{
margin-top: 60px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    columns: 1;
}

#btn{
    border-radius: 15px ;
    height: 70px;
    width: 200px;
    font-size: x-large;
    background-color: #fa9c0b;
    border: 1px solid #fa9c0b ;
}
#btn:hover{
    
    background-color:  #7c5417 ;
}
header{
    width: 100%;
    height: 300px;
}
#mdp input{
    margin: 15px 0px;
    height: 70px;
    width: 200px ;
    font-size: x-large;
    border-radius: 150px;
}
input{
    height: 70px;
    width: 220px ;
    font-size: x-large;
    margin-top: 50px;
    border-radius: 150px;
}
#couleur_form{
    background-color: #34a6ab;
    height: 500px;
    width: 370px ; 
    display: flex;
    align-items: center;
    flex-direction: column;
    columns: 1;
    border-radius: 150px;
    box-shadow: 0px 26px 8px 3px #fa9a0b8a;

}
#inscription_gauche{
    background-color: #34a6ab;
    height: 550px;
    width: 370px ; 
    display: flex;
    align-items: center;
    flex-direction: column;
    columns: 1;
    border-radius: 150px;
    box-shadow: 0px 26px 8px 3px #fa9a0b8a;
    float: left;
    grid-row: 1;
    grid-column: 1;
}
#inscription_droite{
    background-color: #34a6ab;
    height: 430px;
    width: 370px ; 
    display: flex;
    align-items: center;
    flex-direction: column;
    columns: 1;
    border-radius: 150px;
    box-shadow: 0px 26px 8px 3px #fa9a0b8a;
    float: right;
    grid-row: 2;
    grid-column: 1;

}
#btn_inscri {
    grid-row: 2;
    grid-column: 2;
    
}
#inscription{
    width: 100%;
    display: grid;
    justify-items: center;
    margin-top: 50px;
}
#connecter_vous{
    grid-row: 2;
    grid-column: 2;
}
#obejet_btn_inscription{
    width: 350px;
}

h1{
    font-size: 80px;
}
p{
    font-size: large;
    color: rgb(182, 41, 41)  ;
}
